@media (min-width: 900px) {
  
  #home-wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name-title {
    font-family: 'Arimo', sans-serif;
    font-size: 1.8em;
    color: #b5b5b7;
    margin: 0 10px;
    display: inline-block;
  }

  .sub-title {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: #f2b632;
    margin: 0 10px;
    display: inline-block;
  }

  .links i {
    display: inline-block;
    font-size: 1.5em;
    color: #b5b5b7;
    margin: 0 5px;
  }
}

@media (max-width: 900px) {
  #home-wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .name-title {
    font-family: 'Arimo', sans-serif;
    font-size: 1.8em;
    color: #b5b5b7;
    margin: 0.5em 0 0 1.6em;
  }

  .sub-title {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: #f2b632;
    margin: 0.6em 2.4em;
  }

  .links { 
    margin: 0.2em 1.7em;
  }

  .links i {
    font-size: 1.5em;
    color: #b5b5b7;
    margin: 0 0.3em;
  }

}