@import url('https://fonts.googleapis.com/css?family=Arimo|Lato:300');

* {
   margin: 0px;
   padding: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #252839;
  background-image: -webkit-linear-gradient( -28deg, #677077 0%, #677077 60%, #252839 60%, #252839 60%);
  background-image: linear-gradient( -28deg, #677077 0%, #677077 60%, #252839 60%, #252839 60%);
}
